body{
    background-color: rgb(141, 139, 139);
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: blueviolet;
    text-align: center;   
}
button{
    cursor: pointer;
}

#decision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#decision button{
    font-size: 3.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
#log_in{
    background-color: hsl(219, 79%, 66%);
}
#log_in:hover{
    background-color: hsl(219, 79%, 56%);
}
#sign_up{
    background-color:hotpink;
}
#sign_up:hover{
    background-color:hsl(330, 100%, 61%);
}

form{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 1.5rem;
    border: 5px ridge purple;
    border-radius: 4px;
}
button[type="submit"]{
    font-size: 2rem;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
}
#output{
    font-size: 2.5rem;
    color: rgb(19, 149, 255);
    font-weight: bold;
}